*:focus {
  outline: 0;
}

header {
  padding: 50px;
  text-align: center;
}

body {
  background-color: lightgrey;
    background-image: linear-gradient(to right bottom, rgba(128,0,128,0.35) 0%, rgba(128,0,128,0.7) 100%);
  margin: 0px;
  border: outset 10px purple;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code.display {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: lightgrey;
  border: 2px solid;
  border-radius: 20px / 20px;
  padding: 10px;
  box-shadow: 2px 2px 2px;
}

button.phone {
  height:35px;
  width:40px;
  border: 1px solid;
  border-radius: 3px;
  font-size: 20px;
  transition: 0.13s;
  -webkit-transition: 0.13s;
}

button.phone:hover {
  background-color: blue;
  border-color: black;
  color: white;
}

button.phone:active {
  background-color: red;
}

button.clickable-listnode {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

input.basic-form {
  padding: 12px;
  font-size: 12px;
  border-radius: 7px 0px 0px 7px;
  border: none;
}

button.basic-form {
  color: white;
  background-color: purple;
  padding: 12px;
  border-radius: 0px 7px 7px 0px;
  border: none;
}

button.login-confirm {
  color: white;
  background-color: purple;
  border: green 2px;
  padding: 8px;
  border-radius: 3px;
  margin-top: 8px;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

button.login-confirm:hover {
  background-color: rgba(0, 35, 90, 1)
}

button.basic-form:hover {
  background-color: rgba(180, 0, 180, 0.8)
}

button.toggle-button {
  color: white;
  background-color: purple;
  border: none;
  padding: 8px;
  border-radius: 3px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.toggle-button:hover {
  box-shadow: 0 20px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
}

button.mode-selector-inactive {
  color: white;
  background-color: purple;
  padding: 7px;
  border-radius: 7px 7px 0px 0px;
  border: 2px white solid;
  border-bottom: none;
  margin-right: 2px;
}

button.mode-selector-active {
  color: white;
  background-color: rgba(180, 0, 180, 0.8);
  padding: 7px;
  border-radius: 7px 7px 0px 0px;
  border: 2px white solid;
  border-bottom: none;
  margin-right: 2px;
}

form.login-form {
  display: inline-block;
  background-color: rgba(180, 0, 180, 0.8);
  padding: 7px;
  border-radius: 0px 10px 10px 10px;
  border-left: 2px white solid;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  box-shadow:  7px 7px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

label.login {
  display: inline-block;
  background-color: white;
  width: 100px;
  padding: 5px;
  border: 2px solid;
  border-radius: 20px / 20px;
}

ul.top {
  background-color: lightgrey;
  background-image: linear-gradient(to right, rgba(90,0,128,0.35) 30%, rgba(90,0,128,0.7) 70%);
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  display: inline-block;
  box-shadow:  0 15px 30px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.gambler-logo {
  transition: height 1s;
  -webkit-transition: height 1s;
  animation: spin_back 1s;
  -webkit-animation: spin_back 1s;
  transition-timing-function: cubic-bezier();
}

.gambler-logo:hover {
  height: 150px;
  animation: spin_to 1s;
  -webkit-animation: spin_to 1s;
  cursor: pointer;
}

@keyframes spin_to {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)};
}

@keyframes spin_back {
  0% {transform: rotate(360deg)}
  100% {transform: rotate(0deg)};
}

button {
  cursor: pointer;
}

footer {
  font-style: italic;
  background-color: ;
  color: darkblue;
  font-size: 15px;
  text-shadow: 1px 0px;
}
